@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --input-border: rgb(35, 80, 242);
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body {
  font-family: "Open Sans", sans-serif;
  width: max-content;
  margin: 0;
  font-size: 1rem;
}

#add-job {
  background-color: rgb(35, 80, 242);
  color: white;
}

#download-btn {
  background-color: rgb(35, 187, 33);
  color: white;
}

#company-name-input {
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid var(--input-border);
  padding: 5px;
  margin: 5px;
}

.popup-container {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}