@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  width: max-content;
  margin: 0;
  font-size: 1rem;
}

.popup-title {
  font-weight: 900;
  background-color: blueviolet;
  color: white;
  width: 100%;
  padding: 5px;
}

.popup-content {
  padding: 5px;
}

#add-job {
  background-color: rgb(35, 80, 242);
  color: white;
  text-align: center;
}