@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  width: max-content;
  margin: 0;
  font-size: 1rem;
}

#add-job {
  background-color: rgb(35, 80, 242);
  color: white;
  border: 2px solid rgb(35, 80, 242);
}

#download-btn {
  background-color: rgb(35, 187, 33);
  color: white;
  border: 2px solid rgb(35, 187, 33);
}

#company-name-input {
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid rgb(35, 80, 242);
  padding: 5px;
  margin: 5px;
}

.popup-container {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

#add-job:hover {
  background-color: white;
  color: rgb(35, 80, 242);
}

#download-btn:hover {
  background-color: white;
  color: rgb(35, 187, 33);
}